/* Global Styles */
body {
    font-family: 'League Spartan', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header Styles */
header {
    background-color: #FF3131;
    padding: 20px 0;
}

/* Welcome Section Styles */
#home {
    background-image: url('images/Truck2dark.png'); /* Replace 'background-image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0; /* Adjust padding as needed */
}

#home h1 {
    font-size: 2.5rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
    height: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease; /* Add transition for smooth color change */
}

nav ul li a:hover {
    color: #000000; /* Change color on hover */
}

/* Section Styles */
section {
    padding: 50px 0;
    text-align: center;
}

#about {
    background-color: #EAEAEA; /* Light gray background */
}

#services {
    background-color: #F5F5F5; /* Lighter gray background */
}

#contact {
    background-color: #D3D3D3; /* Medium gray background */
}

section h1 {
    margin-bottom: 20px;
    color: #ffffff;
}

section p {
    color: #160101;
}

.services-list {
    display: flex;
    justify-content: space-around;
}

.service {
    max-width: 300px;
    margin-bottom: 30px;
    transition: transform 0.3s ease; /* Text rise effect */
}

.service:hover {
    transform: translateY(-5px);
}

.service h3 {
    color: #333;
}

h4 {
    color: #fffffff5;
}

.service p {
    color: #666;
}

/* Contact Info Styles */
.contact-info p {
    margin-bottom: 10px;
}

/* Footer Styles */
footer {
    background-color: #FF3131;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
